<head>
	<title>rash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCUivAr6OjpUsntPswZwvi-kMqBcbSQuPw&sensor=true"></script>
</head>

<body>
</body>

<template name="layout">
	{{> navigation}}
	{{{yield}}}
	{{#if currentUser}}
		{{>user_profile}}
	{{/if}}
</template>

<template name="inverselayout">
  	{{{yield}}}
	{{> navigation}}
	{{#if currentUser}}
		{{>user_profile}}
	{{/if}}
</template>