<template name="home">
	<div class="bs-header">
		<div class="container">
			<h1>Welcome</h1>
			<p>To the world of <strong>Rash Judgements</strong>. Are you ready to judge?</p>
		</div>
	</div>
	<div class="container">
    <div class="row" style="padding-top:20px">
			<div class="col col-lg-4" >
        <div class="yellow panel white-tile" style="text-align:center;">				
          <img src="/img/criteria_icon.png" />
          <div class="panel-footer"><h4>Create Judgement Types.</h4></div>
        </div>
			</div>
			<div class="col col-lg-4" >
        <div class="horva panel apple-tile" style="text-align:center">				
				<img src="/img/map_icon.png" />
          <div class="panel-footer"><h4>Add Places.</h4></div>
        </div>
			</div>
			<div class="col col-lg-4" >
        <div class="complexion panel going-tile" style="text-align:center">			
				<img src="/img/vote_icon.png" />
          <div class="panel-footer"><h4>Judge!</h4></div>
        </div>
			</div>
		</div>
	</div>
</template>
