<template name="home">
	<div class="bs-header">
		<div class="container">
			<h1>Welcome</h1>
			<p>To the world of <strong>Rash Judgements</strong>. Are you ready to judge?</p>
		</div>
	</div>
	<div class="container">
		<div class="row" style="padding-top:10px">
			<div class="col col-lg-4" style="text-align:center">
				<img src="/img/criteria_icon.png" />
				<h2>Create Judgement Types.</h2>
			</div>
			<div class="col col-lg-4" style="text-align:center">
				<img src="/img/map_icon.png" />
				<h2>Add Places.</h2>
			</div>
			<div class="col col-lg-4" style="text-align:center">
				<img src="/img/vote_icon.png" />
				<h2>Judge!</h2>
			</div>
		</div>
	</div>
</template>
